* {
    margin: 0px;
    padding: 0px;
}

h1, p, ul, footer {
    margin: 15px 30px;
}

h1 {
    color: rgb(25, 25, 25);
    font-family: 'Helvetica';
    font-size: 33px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1000px;
    /* border: 5px solid royalblue; */
}

.front-page {
    width: 30vh;
    border-radius: 20px;
}

ul:not(#nav-list) {
    margin-left: 60px;
}


p {
    color:rgb(158, 159, 158);
    align-items: left;
    font-family: 'Helvetica';
    font-size: 18px;
    line-height: 1.4;
}

li {
    color:rgb(158, 159, 158);
    align-items: left;
    font-family: 'Helvetica';
    font-size: 19px;
    line-height: 1.1;
    left: 40px;
}

a {
    color: rgb(229, 43, 38);
    /* display: inline;
    float: left;
    padding: 0.25em 1em;
    text-decoration: none; */
}

header {
    background-color: rgb(229, 43, 38);;
    width: 100%;
    /* margin: 0px; */
    padding: 0px;
    /* display: flex; */
    /* justify-content: start; */
    /* align-items: center; */

}

nav {
    max-width: 1000px;
    /* justify-content: start; */
    margin: auto;
    height: 100%;
    color: white;
}

body {
    /* align-items: center; */
    background-color: white;
    margin: 0px;
    left: 0px;
    right: 0px;
    min-height: 100vh;
    position: relative;
}

/* .flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
} */

.sub-container, footer {
    max-width: 400px;
    margin: auto;
    /* flex: 1; */
    /* border: 10px solid fuchsia; */
}

.sub-container {
    padding-bottom: 70px;
}

.sub-container-two {
    flex: 1;
    /* border: 10px solid fuchsia; */
}

footer {
    margin-top: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /* margin-top: 50px; */
}

.footer-text {
    font-family: 'Helvetica';
}

.footer-class {
    margin: 30px;
}

img {
    margin: 30px;
    width: 100%;
}

#go-home {
    color: white;
    left: 20px;
    margin-top: 20px;
}

#martial-arts {
    height: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4vw;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px;
}

/* header {
    display: flex;
    justify-content: center;
    align-items: center;
} */

nav a:link, nav a:visited {
    color: white;
}

nav a:hover, nav a:active {
    color: rgba(255, 255, 255, .8);
    border-bottom: 1px solid white;
}

nav a {
    text-decoration: none;
    /* margin-top: 10px; */
}

nav .active {
    border-bottom: 1px solid white;
}

.pages {
    justify-content: center;
}

@media screen and (max-width:703px) {
    ul {
        /* background-color: blue; */
        justify-content: center;
    }
}


